	<table class="table table-hover table-striped well">
		<thead>
		    <tr>
		    	<th>Date</th>
		      	<th>Requester</th>
		        <th>Type</th>
		        <th>Status</th>
		        <th>More</th>
		      </tr>
	    </thead>
	    <tbody>   		
			<tr data-ng-repeat="leave in leaves">			
				<td><b ng-bind="leave.submitdate | date:'dd/MM/yyyy'"></b></td><td>{{leave.requester}}</td><td>{{leave.type}}</td><td>{{leave.status}}</td>
				<td><button type="button" class="btn btn-info btn-sm" ng-click="showLeave(leave)">Detail</button>
					<!-- <button type="button" class="btn btn-info btn-sm" ng-click="showLeave(leave)">Modify</button> -->
				</td>
				<!-- The actual modal template, just a bit o bootstrap -->

			</tr>	
		</tbody>								
	</table>