<div class="containerBar navbar-fixed-top">
	<div class="container">
	<div class="row">
		<div class="span12">
			<div class="navbar">  
			    <div class="navbar-header">
			      <a class="navbar-brand" ui-sref="home"><div class="egbrand">ExodusSg</div></a>
			    </div>
			    <div class="navbar-inner">
			      <ul class="nav navbar-nav">
			        <li><a ui-sref="home">Home</a></li>
			        <li><a ui-sref="home">Admin</a></li>
			        <li><a ui-sref="about">About</a></li>
			        <li><a ui-sref="contact">Contact</a></li> 
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			      </ul>
			    </div>
	   		</div>
		</div>
	</div>
</div>
</div>
